# -------------- C++ --------------#
*.o
*.obj
*.exe
*.out

# -------------- Java --------------#
*.class
*.jar

# -------------- Python --------------#
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# -------------- PHP --------------#
vendor/

# -------------- VS Code --------------#
.vscode/

# -------------- OS --------------#
.DS_Store
Thumbs.db